#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

.title {
  font-size: 1.5em;
  text-align: left;
  padding: 0;
}

.flex-container {
  display: flex;
  padding-bottom: 5px;
  padding-top: 23px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-item-left {
  text-align: left;
}

.flex-item-right {
  text-align: end;
}

.imgColumn {
  background-color: white;
}

.imgSpanLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.error {
  display: block;
  padding-top: 4px;
  top: 0;
  color: red;
  font-size: small;
  font-weight: 700;
  text-align: left;
}

.countdown {
  display: block;
  padding-top: 4px;
  top: 0;
  font-size: small;
  font-weight: 700;
  text-align: left;
}

.navButtons {
  position: absolute;
  padding-top: 4px;
  top: 0;
  right: 0;
}

.fakeAnchor {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.fakeAnchor:hover {
  color: #535bf2;
}

.settingsRoot {
  padding: 8px;
  width: 95%;
  max-width: 600px;
  margin: auto;
  border: 1px solid transparent;
  border-color: #ffffff;
  border-radius: 8px;
}

textarea {
  resize: none;
}
