nav {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 6vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

button {
  height: 5vh;
  border: 0px transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border-color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  color: #2196f3;
}
.unselectedButton {
  color: #555555;
  border-color: #555555;
}
button:disabled {
  cursor: not-allowed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.mobile-selector {
  width: 100vw;
  position: sticky;
  position: absolute;
  overflow: hidden;
  top: 5vh;
  max-height: 0;
  background-color: #000000;
  transition: max-height 0.5s ease-in-out;
}

.mobile-selector.show {
  max-height: 100vh;
}

.full-height {
  flex: 1;
}

.no-select {
  user-select: none;
}

.nav-button {
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  padding: 0;
}

.version {
  font-size: 0.5em;
  line-height: 0.5em;
  text-align: left;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.nav-item {
  flex-grow: 1;
  flex-basis: 0;
}

.nav-item-left {
  text-align: left;
}

.nav-item-center {
  justify-self: center;
  text-align: center;
}

.nav-item-right {
  text-align: end;
}

.mobile-flex {
  flex: 1;
}

.imgColumn {
  background-color: white;
}

.imgSpanLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.fakeAnchor {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.fakeAnchor:hover {
  color: #535bf2;
}

.settingsRoot {
  padding: 8px;
  width: 95%;
  max-width: 600px;
  margin: auto;
  border: 1px solid transparent;
  border-color: #ffffff;
  border-radius: 8px;
}

textarea {
  resize: none;
}
