#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: left;
  padding: 0;
}

.flex-container {
  display: flex;
  padding-bottom: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-item-left {
  text-align: left;
}

.flex-item-right {
  text-align: end;
}

.imgColumn {
  background-color: white;
}

.imgSpanLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.error {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  color: red;
  font-weight: 700;
}

.countdown {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

textarea {
  resize: none;
}
